:root {
    --text-color: #001a23;
    --accent-color: #16db65;
    --green-2: #6a994e;
    --green-3:  #386641;
    --green-4:  #a7c957;
    --green-5: #e9edc9;

    --main-color: #ADC178;
    --main-color-2: #DDE5B6;
    --main-color-3: #F0EAD2;
    --main-color-4: #A98467;
    --main-color-5: #6C584C;
    --sale-color: #f25c54;

    --font-large: 36px;
    --font-medium: 24px;
    --font-small: 16px;
    --font-mobile: 13px;
    --font-mobile-title: 26px;
}



/* 아이콘 폰트 */
.mypage:before {
    content: '\e80b';
    font-family: 'fontello';
}

.mycart:before {
    content: '\e80d';
    font-family: 'fontello';
}

.logo-icon:before {
    content: '\e801';
    font-family: 'fontello';
}

.navbar-togglebtn:before {
    content: '\e800';
    font-family: 'fontello';
}

.search-icon:before {
    content: '\e810';
    font-family: 'fontello';
}

.more-icon:before {
    content: '\e818';
    font-family: 'fontello';
}



* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'IBM Plex Sans KR';
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    list-style-type: none;
}


header {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
} 
footer {
    background-color: rgb(19, 19, 19);
    color: rgb(138, 138, 138);
    text-align: center;
    padding: 10px;
}

#container {
    display: flex;
}

main {
    flex: 1;
    padding: 20px;
    margin-left: 10px;
}

aside 
{
    width: 200px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    list-style-type: none;
}
.login img
{
    width: 140px;
    height: 50px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
.sidebar-nav-menu img 
{
    margin:5px;
    width: 50px;
    height: 50px;
    float: left;
    margin-bottom: 10px;
}
.membership img
{   
    width: 200px;
    height: 150px;
    margin-top: 10px;
}

.eco-a 
{
    width: 200px;
    height: 400px;
    margin: 15px ;
    position: relative;
    
  }
  .eco-b 
{
    width: 200px;
    height: 400px;
    margin: 15px ;
    right: 30px;
    bottom: 10px;
    position: relative;
    
  }
.eco-c 
{
    position: absolute;
    width: 200px;
    height: 400px;
    top: 5px;
    right: 15px;
    display: none;
  }
.eco-a:hover .eco-c 
{
    display: block;
  }




/* 맨 윗줄 */
.member-menu {
    position: absolute;
    top: 3px;
    right: 10px;
}

.member-menu > ul > li {
    padding-left: 5px;
}

.member-menu > ul > li {
    display: inline-block;
    font-size: 12px;
}

.member-menu > ul > li > a{
    color: #8B8B8B;
}




/* 헤더 부분 */
.headerbar {
    display: flex;
    justify-content: space-between;   /* 여백 사이사이에 넣기*/
    align-items: center;    /* 수직 기준으로 가운데에 놓기*/
    padding: 35px 12px;
}


.headerbar-logo {
    display: flex;
    font-size: 24px;
    color: var(--green-2);
    
}

.logo-icon > a {
    color: var(--green2);
    font-weight: 700;
    padding-left: 5px;
}

.nav-menu {
    display: flex;
    list-style-type: none;   /* 목록 불릿 없애기*/
    justify-content: space-evenly;
    align-items: center; 
    padding-bottom: 20px;
    text-align: center;
}



.nav-menu li {
    padding: 1px 12px;
}

.nav-menu li:hover {  /* 마우스 올렸을때 */
    background-color: var(--main-color-2);
    border-radius: 4px;
}

.nav-menu li a {
    color: var(--text-color);
}


.header-menu-icon {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding-left: 15px;
}

.header-menu-icon li {
    padding: 8px 8px;
    font-size: 20px;
}

.mycart, .mypage {
    color: var(--text-color);
}

.navbar-togglebtn {
    color: var(--text-color);
    position: absolute;
    font-size: 25px;
    right: 15px;
    display: none;
}


.search {
    left: 2px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    width: 30vw;
    
}

.search-input {
    padding-left: 5px;
    width: 100%;
    background-color: transparent;
    transition: border 0.3s;
    border-radius: 10px;
    padding-right: 15px;
}



/* 메인 부분 */
.banner {
    width: 100%;
    height: 35vh;   /* viewport height */
    background-image: url('../images/eco1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%; /* 이미지 위치 */
    border-radius: 10px;
    cursor: pointer;  /* 커서 모양 */
}

.banner-text {
    padding-top: 50px;
    margin-left: 40px;
    margin-right: 10px;
    color: var(--text-color);
}

.banner-text h2 {
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 3vw;
}

.banner-text h1 {
    font-size: 5vw;
}



.main-recommend-area {
    margin-top: 60px;
    width: 100%;
    margin-bottom: 20px;
}

.main-recommend-title {
    font-weight: 700;
    font-size: var(--font-large);
    padding-bottom: 20px;
}


.main-recommend-product {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}


.main-recommend-product ul {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.product {
    cursor: pointer;
    text-align: center;
}

.product:hover {
    filter:brightness(0.9);
}

.img { /* 아직 이미지 없어서 테스트용*/
    width: 16vw;
    height: 16vw;
    background-color: var(--main-color-4);
    border-radius: 20px;
    display: block; /* 이미지를 블록 요소로 설정하여 가운데 정렬을 적용할 수 있도록 함 */
    
}

.info {
    width: 16vw;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.name {
    display: -webkit-box; /* 넘치는 텍스트 안보이게 하는 기능을 위해 벤더프리픽스 적용 */
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 1;
    overflow: hidden;
}



.main-more-product {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    color: var(--text-color);
}

.main-more-product > p {
    margin-right: 15px;
    margin-bottom: 40px;
}



.main-area-2 {
    display: flex;
}



/* 인기 상품 */
.main-best-area {
    /* margin-right: 20px; */
    display: inline-block;
    width: 33vw;
    margin-bottom: 50px;
}

.main-best-title {
    font-weight: 700;
    font-size: var(--font-large);
    padding-bottom: 40px;
}


.best-product {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 10px;
    /* padding-right: 60px; */
    width: 180vw;
}

.main-best-product ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
}

.main-best-product ul li:hover {  /*인기상품리스트 hover*/
    filter:brightness(0.9);
    background-color: var(--main-color-3);
    cursor: pointer;
}

.best-product > div {
    margin: 20px;
}

.best-product div:first-child {
    font-size: 20px;
    font-weight: 600;
}

.best-product > img {
    width: 10vw;
    height: 10vw;
    background-color: var(--main-color-4);
    border-radius: 20px;
    display: block;
    margin-right: 10px;
}

.best-product-info p:first-child {
    font-size: 18px;
    color: var(--text-color);
} 


/* 오늘의 상품 */
.main-today-area {
    width: 32vw;
    margin-left: 80px;  /* 여백 */
    
}

.main-today-title {
    font-weight: 700;
    font-size: var(--font-large);
    padding-bottom: 40px;
}

.main-today-product {
    /* display: flex; */
    height: 60vh;
    margin-bottom: 20px;
}

.main-today-img {
    display: flex;
    width: 100%; /* vw 비율 다르게하면 사진 찐따되는데*/
    height: 90%;
    background-position: 50%;
    background-image: url('../images/폐유리\ 코스터\ 2.jpg');
    border-radius: 20px;
    align-items: flex-end;
    /* justify-content: flex-end; */
}

.main-today-img p {
    font-size: 2.7vw;
    font-weight: 600;
    color: white;
    /* padding-left: 20px; */
    padding-right: 20px;
    display: block;
    text-align: right;
}

.main-today-img div {
    width: 100%;
    padding-top: 15px;
    background-color: rgba(65, 63, 63, 0.3);
    border-radius: 0 0 20px 20px;
}

.main-today-img p:nth-child(2) {
    padding-bottom: 20px;
    font-size: 3vw;
}

.main-today-info p {
    font-size: 30px;
    font-weight: 500;
    
}

.main-today-sale {
    height: 13vw;
    border-radius: 20px;
}

.today-sale-img {
    display: flex;
    width: 100%; /* vw 비율 다르게하면 사진 찐따되는데*/
    height: 100%;
    background-position: 60%;
    background-image: url('../images/대나무\ 칫솔.jpg');
    border-radius: 20px;
}

.today-sale-img p {
    font-size: 2.3vw;
    font-weight: 600;
}

.today-sale-img p:nth-child(3) {
    text-decoration: line-through;
    font-size: 1.5vw;
    font-weight: 300;
}


.today-sale-img div {
    margin-left: 20px;
    margin-top: 10px;
    
}


/* .today-sale-img p:first-child {
    font-size: 2.0vw;
    font-weight: 600;
    margin-right: 10px;
}

.today-sale-img p:nth-child(2) {
    font-size: 2.3vw;
    font-weight: 600;
    
}

.today-sale-img p:nth-child(3) {
    text-decoration: line-through;
    font-size: 1.5vw;
    font-weight: 300;
} */

/* 서브 영역 */
aside div {
    position: sticky;
    top: 10px;
}







/* 푸터 */
.company-info > p {
    color: rgb(230, 229, 229);
}

.footer-nav-menu {
    display: flex;
    list-style-type: none;   /* 목록 불릿 없애기*/
    justify-content: space-evenly;
    align-items: center; 
    padding-bottom: 20px;
    text-align: center;
}

.footer-nav-menu a {
    color: rgb(139, 137, 137);
}






/* 데스크톱 사이즈일때 적용 */
@media screen and (min-width: 782px) {

    .product {    /* 상품리스트 4개 유지하게 */
        /* box-sizing: border-box; */
        width: calc(25%);
        
    }

    .search {
        width: 250px;
    }

    /*
    #header .header-menu-icon {
        position: absolute;
        right: 32px;
        height: 35px;
    }
    */
}


/* 태블릿 사이즈 */
@media screen and (max-width: 781px) {
    main {
        margin: 0;
    }
    .member-menu {
        display: none;
    }

    .header-menu-icon {
        margin-left: auto;
    }

    .product {  
        width: calc(21%);

    }

    .main-recommend-title {
        font-size: 30px;
    }
    aside {
        display: none;
    }

    .main-recommend-product ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .banner-text h2 {
        font-size: 4vw;
    }

    .banner-text h1 {
        font-size: 7vw;
    }

  

    .main-area-2 {
        display: block;
    }

    .main-best-area {
        width: 90vw;
        margin-bottom: 50px;
    }

    .main-today-area {
        width: 90vw;
        margin-left: 0;
    }

    .main-best-title {
        font-size: 30px;
    }

    .main-today-title {
        font-size: 30px;
    }

    .main-today-product {
        height: 50vh;
    }

    .main-today-img p {
        font-size: 5vw;
    }

    .main-today-img p:nth-child(2) {
        padding-bottom: 20px;
        font-size: 6vw;
    }

    .main-today-sale {
        height: 20vw;
        margin-bottom: 50px;
    }

    .today-sale-img p {
        font-size: 4vw;
    }

    .today-sale-img p:nth-child(3) {
        font-size: 2vw;
    }

    .img {
        width: 19vw;
        height: 19vw;
    }

    .name {
        display: inline-block;
    }

    .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .best-product img {
        width: 20vw;
        height: 20vw;
    }

    .best-product div:first-child {
        font-size: 24px;
        font-weight: 600;
    }

    .main-today-img {
        margin-left: 5px;
    }

    .today-sale-img {
        margin-left: 5px;
    }
    
}

/* 모바일 사이즈 */
@media screen and (max-width: 480px) {
    main {
        padding: 5px;
        margin: 0;
    }
    .member-menu {
        display: none;
    }
    .header-menu-icon {
        display: none;
    }
    .navbar-togglebtn {
        display: block;
    }
    .nav-menu {
        display: none;   
    }

    .nav-menu li {
        font-size: var(--font-mobile);
    }

    .nav-menu.active {
        display: flex;
        justify-content: space-evenly;
    }

    .search {
        display: none;
    }

    .banner-text h2 {
        font-size: 4vw;
    }

    .banner-text h1 {
        font-size: 8vw;
    }

    .main-recommend-title {
        font-size: var(--font-mobile-title);
    }

    .main-best-title {
        font-size: var(--font-mobile-title);
    }
    
    .main-today-title {
        font-size: var(--font-mobile-title);
    }

    .main-more-product {
        font-size: 16px;
    }

    .product {
        width: calc(44%);
    }

    .img {
        width: 40vw;
        height: 40vw;
    }

    .main-recommend-product {
        /* padding-right: 0; */
    }

    .name {
        display: inline-block;
    }

    .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .best-product img {
        width: 30vw;
        height: 30vw;
    }

    .banner-text h2 {
        font-size: 4vw;
    }

    .banner-text h1 {
        font-size: 12vw;
        line-height: 1;
        margin-top: 10px;
    }

    .banner-text {
        padding-top: 40px;
    }

    .best-product div:first-child {
        font-size: 24px;
        font-weight: 600;
    }
 
    .main-today-img p {
        font-size: 6vw;
    }

    .main-today-img p:nth-child(2) {
        font-size: 8vw;
    }

    .main-area-2 {
        display: block;
    }

    .main-today-area {
        width: 90vw;
        margin-left: 0;
    }

    .footer-nav-menu {
        display: none;   
    }

    .nav-menu li{
        /* width: 20px; */
        margin-right: 3px;
    }

    .main-today-img {
        margin-left: 10px;
    }

    .main-today-sale {
        height: 30vw;
    }

    .today-sale-img {
        margin-left: 10px;
    }

    .today-sale-img p {
        font-size: 5vw;
    }

    .today-sale-img p:nth-child(3) {
        font-size: 4vw;
    }

}